*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.5s;
}

body{
    background-image: url(https://i.pinimg.com/originals/89/e7/56/89e756699eb2f77947c636231e1085be.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 50px;
}

h1{
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
}

.fondo{
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.543);
    padding: 10px;
    border-radius: 5px;
}

h2{
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.content{
    position: relative;
    display: flex;
}

img{
    width: 300px;
    height: 300px;
}

h3{
    margin-top: 50px !important;
    margin: 10px;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.vida_fondo{
    width: 100%;
    height: 20px;
    border-radius: 5px;
    background-color: gray;
    margin-top: 30px;
    position: relative;
}

.vida{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }
.vida_real{
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: rgb(35, 131, 35);
    border-radius: 5px;
    bottom: 0;
}

.msg{
    width: 400px;
    height: 300px;
    margin: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.543);
    overflow-y: auto;
}

h4{
    color: aliceblue;
    padding-top: 20px;
}

li{
    margin-left: 20px;
    color: white;
    margin-top: 20px;
    font-size: 20px;
}

.ataque{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(195, 12, 12);
    margin-top: 10px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.defensa{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(63, 63, 194);
    margin-top: 10px;
    color: white;
    margin-left: 10px;
    width: 100%;
    cursor: pointer;
}

@media (max-width: 1245px) {
    
    img {
        width: 200px;
        height: 200px;
      }
}

@media (max-width: 950px){
    .content {
        display: block;
    }
    body {
        background-attachment: fixed;
    }
    .center{
        margin-bottom: 50px;
    }
    .msg {
        width: 100%;
        height: 300px;
        margin: 0;
        margin-top: 40px;
      }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
    background-color: #1b1919;
}